aside ul li a, main .top_box, main .top_box .top_box_block .image, main .top_box .top_box_block .top_block_bottom, main .middle_box, main .middle_box .middle_box_block .image, main .middle_box .middle_box_block .middle_block_bottom, main .bottom_box, main .bottom_box .bottom_box_block ul, main .bottom_box .bottom_box_block ul li a, main .bottom_box .bottom_box_block p, main .bottom_box .bottom_box_block p .input_group, main .bottom_box .bottom_box_block p .button_group, main .bottom_box .bottom_box_block .list [class^="list_title"], main .bottom_box .bottom_box_block .list [class$="1"], main .bottom_box .bottom_box_block .list [class$="2"], main .bottom_box .bottom_box_block .list [class$="3"], main .bottom_box .bottom_box_block .list [class$="4"], footer .footer_container, footer .footer_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

main .top_box .top_box_block .image, main .bottom_box .bottom_box_block ul, main .bottom_box .bottom_box_block .employees {
  position: absolute;
  top: -20px;
  left: 20px; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eaeaea; }

.title {
  font-size: 24px;
  padding: 35px;
  margin: 0;
  font-weight: bold;
  color: #6d6c78; }

.menu {
  display: none; }

aside {
  width: 17%;
  height: 100%;
  position: fixed;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff; }
  aside ul {
    padding: 25px 18px;
    margin: 0;
    list-style-type: none;
    border-top: 3px solid #e3e3e3; }
    aside ul li a {
      padding: 20px 28px;
      color: #909090;
      text-decoration: none;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    aside ul li a:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin-right: 20px; }
    aside ul li .active, aside ul li a:hover {
      background-color: #c32056;
      -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
      color: #ffffff; }
    aside ul li .active:before {
      background-image: url(../img/dashboard_white.svg) !important; }
    aside ul li:first-child a:before {
      background-image: url(../img/dashboard_gray.svg); }
    aside ul li:nth-child(2) a:before {
      background-image: url(../img/account_gray.svg); }
    aside ul li:nth-child(3) a:before {
      background-image: url(../img/map_gray.svg); }
    aside ul li:nth-child(4) a:before {
      background-image: url(../img/notify_gray.svg); }
    aside ul li:nth-child(5) a:before {
      background-image: url(../img/support_gray.svg); }
    aside ul li:hover:first-child a:before {
      background-image: url(../img/dashboard_white.svg); }
    aside ul li:hover:nth-child(2) a:before {
      background-image: url(../img/account_white.svg); }
    aside ul li:hover:nth-child(3) a:before {
      background-image: url(../img/map_white.png);
      background-size: 14px; }
    aside ul li:hover:nth-child(4) a:before {
      background-image: url(../img/notify_white.png);
      background-size: 24px; }
    aside ul li:hover:nth-child(5) a:before {
      background-image: url(../img/support_white.png);
      background-size: 20px; }

main {
  width: 83%;
  float: right;
  padding: 35px  38px;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  main .title {
    padding: 0; }
  main .top_box {
    margin-top: 70px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    main .top_box .top_box_block {
      width: 20%;
      padding: 0 20px;
      position: relative;
      -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3); }
      main .top_box .top_box_block .image {
        width: 75px;
        height: 75px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.3); }
      main .top_box .top_box_block .top_block_title {
        margin-top: 25px;
        text-align: right;
        font-size: 14px;
        color: #909090; }
      main .top_box .top_box_block .amount {
        margin-top: 10px;
        font-size: 28px;
        text-align: right;
        border-bottom: 2px solid #e3e3e3;
        padding-bottom: 18px;
        margin-bottom: 0;
        color: #6d6c78; }
      main .top_box .top_box_block .top_block_bottom {
        font-size: 12px;
        color: #909090;
        margin: 0;
        padding: 16px 0;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
        main .top_box .top_box_block .top_block_bottom img {
          width: 12px;
          margin-bottom: 2px;
          margin-right: 5px; }
    main .top_box .top_box_block:first-child .image {
      background-color: #448b00; }
    main .top_box .top_box_block:nth-child(2) .image {
      background-color: #d89e24; }
    main .top_box .top_box_block:nth-child(3) .image {
      background-color: #274d97; }
    main .top_box .top_box_block:nth-child(4) .image {
      background-color: #c32056; }
  main .middle_box {
    margin-top: 70px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    main .middle_box .middle_box_block {
      width: 28.5%;
      padding: 0 20px;
      position: relative;
      -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3); }
      main .middle_box .middle_box_block .image {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: -20px;
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.3);
        padding: 20px 0;
        margin-bottom: 20px; }
        main .middle_box .middle_box_block .image img {
          width: 90%;
          height: auto; }
      main .middle_box .middle_box_block .middle_block_title {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        font-size: 20px;
        color: #6d6c78; }
        main .middle_box .middle_box_block .middle_block_title a {
          color: inherit;
          text-decoration: none; }
        main .middle_box .middle_box_block .middle_block_title a:hover {
          text-decoration: underline; }
      main .middle_box .middle_box_block .middle_block_info {
        margin-top: 3px;
        text-align: left;
        border-bottom: 2px solid #e3e3e3;
        padding-bottom: 18px;
        margin-bottom: 0;
        color: #909090; }
      main .middle_box .middle_box_block .middle_block_bottom {
        font-size: 12px;
        color: #909090;
        margin: 0;
        padding: 16px 0;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        main .middle_box .middle_box_block .middle_block_bottom img {
          width: 12px;
          margin-bottom: 2px;
          margin-right: 5px; }
    main .middle_box .middle_box_block:first-child .image {
      background-color: #448b00; }
    main .middle_box .middle_box_block:nth-child(2) .image {
      background-color: #d89e24; }
    main .middle_box .middle_box_block:nth-child(3) .image {
      background-color: #274d97; }
  main .bottom_box {
    margin-top: 60px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #6d6c78;
    padding-bottom: 60px; }
    main .bottom_box .bottom_box_block {
      width: 45.5%;
      padding: 0 20px;
      padding-top: 80px;
      padding-bottom: 20px;
      position: relative;
      -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3); }
      main .bottom_box .bottom_box_block ul {
        list-style: none;
        background-color: #d89e24;
        right: 20px;
        color: #ffffff;
        margin: 0;
        padding: 15px 20px; }
        main .bottom_box .bottom_box_block ul .ul_title {
          padding-right: 10px; }
        main .bottom_box .bottom_box_block ul li {
          margin-left: 10px; }
          main .bottom_box .bottom_box_block ul li a {
            padding: 12px 20px;
            -webkit-box-align: baseline;
            -ms-flex-align: baseline;
            align-items: baseline;
            color: #ffffff;
            text-decoration: none; }
            main .bottom_box .bottom_box_block ul li a img {
              margin-right: 10px;
              height: 15px; }
          main .bottom_box .bottom_box_block ul li a:hover {
            background-color: #dead49; }
      main .bottom_box .bottom_box_block p {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: 2px solid #e3e3e3;
        margin: 0; }
        main .bottom_box .bottom_box_block p .input_group input {
          margin-right: 10px;
          min-height: 15px;
          min-width: 15px; }
        main .bottom_box .bottom_box_block p .input_group label {
          line-height: 1.3; }
        main .bottom_box .bottom_box_block p .button_group button {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          border: none;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          cursor: pointer;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-left: 20px; }
        main .bottom_box .bottom_box_block p .button_group .submit_button {
          background-image: url(../img/edit.png); }
        main .bottom_box .bottom_box_block p .button_group .reset_button {
          background-image: url(../img/remove.png); }
      main .bottom_box .bottom_box_block p:last-child {
        border: none; }
      main .bottom_box .bottom_box_block .employees {
        right: 20px;
        color: #ffffff;
        margin: 0;
        padding: 15px 20px;
        background-color: #274d97; }
        main .bottom_box .bottom_box_block .employees .bottom_box_header {
          border: none;
          font-size: 18px;
          padding: 0; }
        main .bottom_box .bottom_box_block .employees .bottom_box_info {
          padding: 0;
          margin-top: 15px; }
      main .bottom_box .bottom_box_block .list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 15% 35% 25% 25%;
        grid-template-columns: 15% 35% 25% 25%;
        grid-auto-rows: 34%;
        margin-top: 5px;
        height: 55%; }
        main .bottom_box .bottom_box_block .list .list_title_id {
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          grid-column: 1/2;
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          grid-row: 1/2;
          padding-left: 20px;
          padding-right: 20px; }
        main .bottom_box .bottom_box_block .list .list_title_name {
          -ms-grid-column: 2;
          -ms-grid-column-span: 1;
          grid-column: 2/3;
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          grid-row: 1/2; }
        main .bottom_box .bottom_box_block .list .list_title_salary {
          -ms-grid-column: 3;
          -ms-grid-column-span: 1;
          grid-column: 3/4;
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          grid-row: 1/2; }
        main .bottom_box .bottom_box_block .list .list_title_country {
          -ms-grid-column: 4;
          -ms-grid-column-span: 1;
          grid-column: 4/5;
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          grid-row: 1/2; }
        main .bottom_box .bottom_box_block .list [class^="list_title"] {
          color: #81c3c6;
          border-bottom: 2px solid #e3e3e3; }
        main .bottom_box .bottom_box_block .list [class^="list_id"] {
          padding-left: 20px;
          padding-right: 20px; }
        main .bottom_box .bottom_box_block .list [class$="1"] {
          -ms-grid-row: 2;
          -ms-grid-row-span: 1;
          grid-row: 2/3;
          border-bottom: 2px solid #e3e3e3; }
        main .bottom_box .bottom_box_block .list [class$="2"] {
          -ms-grid-row: 3;
          -ms-grid-row-span: 1;
          grid-row: 3/4;
          border-bottom: 2px solid #e3e3e3; }
        main .bottom_box .bottom_box_block .list [class$="3"] {
          -ms-grid-row: 4;
          -ms-grid-row-span: 1;
          grid-row: 4/5;
          border-bottom: 2px solid #e3e3e3; }
        main .bottom_box .bottom_box_block .list [class$="4"] {
          -ms-grid-row: 5;
          -ms-grid-row-span: 1;
          grid-row: 5/6; }

footer {
  width: 83%;
  float: right;
  padding-top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px; }
  footer .footer_container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 2px solid #d5d5d5;
    padding: 26px  15px;
    padding-left: 5px; }
    footer .footer_container ul {
      padding-left: 20px;
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0; }
      footer .footer_container ul a {
        color: #6d6c78;
        text-decoration: none;
        font-weight: bold;
        margin-right: 30px;
        font-size: 14px; }
      footer .footer_container ul a:hover {
        text-decoration: underline; }
    footer .footer_container .made {
      margin: 0;
      margin-right: 20px; }

[class$="box_block"] {
  background-color: #ffffff; }
