$white: #ffffff

$gray: #ebebeb

$darkgray: #909090

$shadowcolor: rgba(0, 0, 0, 0.3)

$green: #448b00

$yellow: #d89e24

$blue: #274d97

$pink: #c32056

%flex
	display: flex
	align-items: center

%absolute
	position: absolute
	top: -20px
	left: 20px


body
	margin: 0
	padding: 0
	font-family: Arial, sans-serif

.title
	font-size: 24px
	padding: 35px
	margin: 0
	font-weight: bold
	

aside
	width: 17%
	height: 100%
	position: fixed
	box-shadow: 5px 0 5px 0 $shadowcolor
	ul
		padding: 25px 18px
		margin: 0
		list-style-type: none
		border-top: 2px solid $gray
		li
			a
				padding: 20px 28px
				color: $darkgray
				text-decoration: none
				@extend %flex
				align-items: flex-end
			a:before
				content: ""
				display: inline-block
				width: 24px
				height: 24px
				background-repeat: no-repeat
				background-position: center center
				background-size: cover
				margin-right: 20px
		li:first-child
			a:before
				background-image: url(../img/dashboard_gray.svg)
		li:nth-child(2)
			a:before
				background-image: url(../img/account_gray.svg)
		li:nth-child(3)
			a:before
				background-image: url(../img/map_gray.svg)
		li:nth-child(4)
			a:before
				background-image: url(../img/notify_gray.svg)
		li:nth-child(5)
			a:before
				background-image: url(../img/support_gray.svg)
		li:hover
			background-color: $pink
			box-shadow: 2px 2px 2px 1px $shadowcolor
			a
				color: $white
		li:hover:first-child
			a:before
				background-image: url(../img/dashboard_white.svg)
		li:hover:nth-child(2)
			a:before
				background-image: url(../img/account_white.svg)
		li:hover:nth-child(3)
			a:before
				background-image: url(../img/map_gray.svg)
		li:hover:nth-child(4)
			a:before
				background-image: url(../img/notify_gray.svg)
		li:hover:nth-child(5)
			a:before
				background-image: url(../img/support_gray.svg)

main 
	width: 83%
	float: right
	padding: 35px  38px
	box-sizing: border-box
	.title
		padding: 0
	.top_box
		margin-top: 70px
		@extend %flex
		justify-content: space-between
		.top_box_block
			width: 20.5%
			padding: 0 20px
			position: relative
			box-shadow: 2px 2px 4px 1px $shadowcolor
			.image
				width: 75px
				height: 75px
				@extend %flex
				justify-content: center
				@extend %absolute
				box-shadow: 2px 1px 2px 0 $shadowcolor
			.top_block_title
				margin-top: 25px
				text-align: right
				font-size: 14px
				color: $darkgray
			.amount
				margin-top: 10px
				font-size: 28px
				text-align: right
				border-bottom: 1px solid $gray
				padding-bottom: 18px
				margin-bottom: 0
			.top_block_bottom
				font-size: 12px
				color: $darkgray
				margin: 0
				padding: 16px 0
				@extend %flex
				align-items: flex-end
				img
					width: 12px
					margin-bottom: 2px
					margin-right: 5px
		.top_box_block:first-child
			.image
				background-color: $green
		.top_box_block:nth-child(2)
			.image
				background-color: $yellow
		.top_box_block:nth-child(3)
			.image
				background-color: $blue
		.top_box_block:nth-child(4)
			.image
				background-color: $pink
	.middle_box
		margin-top: 70px
		@extend %flex
		justify-content: space-between
		.middle_box_block
			width: 29%
			padding: 0 20px
			padding-top: 175px
			position: relative
			box-shadow: 2px 2px 4px 1px $shadowcolor
			.image
				@extend %flex
				justify-content: center
				@extend %absolute
				right: 20px
				box-shadow: 2px 1px 2px 0 $shadowcolor
				img
					width: 85%
					height: 175px
			.middle_block_title
				margin-top: 0
				margin-bottom: 0
				text-align: left
				font-size: 20px
				a
					color: inherit
					text-decoration: none
				a:hover
					text-decoration: underline
			.middle_block_info
				margin-top: 3px
				text-align: left
				border-bottom: 1px solid $gray
				padding-bottom: 18px
				margin-bottom: 0
				color: $darkgray
			.middle_block_bottom
				font-size: 12px
				color: $darkgray
				margin: 0
				padding: 16px 0
				@extend %flex
				align-items: flex-end
				img
					width: 12px
					margin-bottom: 2px
					margin-right: 5px
		.middle_box_block:first-child
			.image
				background-color: $green
		.middle_box_block:nth-child(2)
			.image
				background-color: $yellow
		.middle_box_block:nth-child(3)
			.image
				background-color: $blue